/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}


/*********************
TEAM
*********************/


.teamL, .teamR, .teamC {width: 32% !important; display: inline-block; vertical-align: text-top; padding-top: 80px;margin: auto;}
.teamR div {border-right: 1px solid $gold;border-left: 1ps solid $gold}



/*********************
MENU
*********************/
.mobile {
	display: none;
}

.bookTour {
	background-color: #cba19b;
    color: white;
    margin-top: -18px;
    height: 70px;
	h4 {
				text-align: center;
				padding: 10px 13px 10px 13px;
    			margin: 6px -5px 0px 11px;
				border: 1px solid white;
				font-size: 1.1em;
    			color: white;
			}
}
.bookTour:hover {background-color: $pink;}

.KTheader {
	display: block;
	width: 100%;
	height: 70px;
	background-color: white;
	opacity: .8;
	top: 0;
	img {
		position: absolute;
    top: 27px;
    left: 0;
    padding: 18px;
    width: 320px;
    z-index: 999;
	}
	.menu {
		
		text-align: center;
		float: right;
		display: block;	
		font-family: 'Playfair Display', serif;
		font-size: 1.1em;
		li {
		
	display: inline-block;
    padding: 4px 15px 0px 0px;
    font-size: .9em;
			a {color: $slate;
				text-decoration: none;
		list-style-type: none;
			}}
	}
	
}

.menu li a:hover {
	color: $lightslate;
}