/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
$gold: #CEB492;
$slate: #3F3F3F;
$lightslate: #B7B6B6;
$pink: #CEAAA3;
$darkPink: #cba19b;

/*********************
CONTACT SECTION
*********************/


.contactSection {padding: 50px;}

.contactBox {padding: 50px;}


/*********************
FONT
*********************/

h5 {

	font-size: 4em;

}
h6 {
	
	font-size: 1.5em;

}

.menuHeader {
	div {top: 120px;}
}

/*********************
TABS
*********************/

	.atmo  {
			width: 49%;
			float: left;
			padding: 20px 0px 20px 0px;
		ul {
			border-right: 1px solid $gold;
			padding: 0 20px 0 0;
			display: block;}}
	.details {
			width: 49%;
			float: right;
			padding:20px 0px 20px 20px;
			
		}

	