/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/
$gold: #CEB492;
$slate: #3F3F3F;
$pink: #CEAAA3;
/*********************
TEAM
*********************/
.teamL, .teamR, .teamC {width: 49% !important; display: inline-block; vertical-align: text-top; padding-top: 80px;margin: auto;}
.teamL div {border-right: 1px solid $gold;}



/*********************
SPACES
*********************/

.venueInfo { 
	
	.venueImg {
		width: 35%;
		float: left;
		img { width:100%;padding-bottom: 30px;} }
	.venueCopy {
		width: 65%;
		float:right;
		padding: 30px;
		vertical-align:text-top;
		.bullets {padding-top: 20px;}
		.atmo  {
			width: 49%;
			float: left;
			padding: 20px 0px 20px 0px;
		ul {
			border-right: 1px solid $gold;
			padding: 0 20px 0 0;
			display: block;}}
		.details {
			width: 49%;
			float: right;
			padding:20px 0px 20px 20px;
			
		}
		
		}

	}

.atmo h7, .details h7 {
	display: block; 
	margin: 0 auto;
	width: 180px;
	text-align: center;
	
}


/*********************
TABS
*********************/

@media screen and (min-width: 1115px) {
	.tabGroup {
	text-align: center;
	border-bottom: 1px solid $gold;

}
ul.tab {
	display: inline-block;
	width: auto;
}

ul.tab li {
	padding: 0 20px 0 20px;
}

ul.tab li:nth-child(odd) { 
border-right: none;

}

ul.tab li a {
	width: auto;
}
	
	
}
	
	

/*********************
EXPERIENCE
*********************/

@media screen and (min-width: 910px) {

.threeCol {
	.threecolDiv {
		
		div {
			width: 33%;
			display: inline-block;
			vertical-align:text-top;
		}}
	
	}
	
	.threecoldDiv div:nth-child(2) {margin: 0 30px 0 30px;}

.expCopy div:nth-child(2), .planningDiv div:nth-child(2) {
		border-left: 1px solid $gold;
		border-right: 1px solid $gold;
		height: 480px;
	}
	
	
	
/*********************
FOOTER STYLES
*********************/
.MACfoot {



	.footerCol {

		display: flex;
		margin: 0 auto;

		.footerMap {
				width: 50%;
				height: 300px;
				margin-right: 40px;
				}
		.footerText {width: 50%;}
		}
	
}
	
}
/*********************
FOOD & BEV
*********************/



.foodBev {
	.foodBevCopy {
		
		div {
			width: 49%;
			display: inline-block;
			text-align: center;
			vertical-align:text-top;
			.borderp {border-right: 1px solid $gold;}
			
		}
	}
}

.foodBevCopy div:nth-child(1){
	
	border-bottom: none;
}

/*********************
CONTACT
*********************/
.contact {
		
		.floatLeft {
		width: 50%;
		float:left;
			p{text-align: center;}
		}
		.floatRight {
		width: 50%;
			float: right;}
		}


