/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

************************************************************/

/*********************
GENERAL STYLES
*********************/
$gold: #CEB492;
$lightGold: #f9f3ed;
$slate: #3F3F3F; 
$lightslate: #B7B6B6;
$pink: #CEAAA3;
$darkPink: #cba19b;


div {
  box-sizing: border-box;
  }


body {
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $slate;
	background-color: white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

a, a:active, a:focus {
outline: none;
}

p {
-moz-hyphens:none;
-ms-hyphens:none;
-webkit-hyphens: none;
hyphens:none;
	widows: 3;
}

/*********************
MENU STYLES
*********************/




.KTheader {
	display: none;
	
	}



.preHeader {
	width: 100%;
	height: 30px;
	background-color: white;
	ul {
		position: absolute;
		top: 3px;
		right: 12px;
		margin: 0px;
		font-size: .9em;
		li {
			display: inline-block;
			a {color: $slate;}
	.fa {
		color: $slate;
		padding:5px 10px 0px 25px;
		}}}
}



.homeHeader {background-image: url('/wp-content/themes/BonesTheme/library/images/HomeImage1000.jpg');}
.contactSection {background-image: url('/wp-content/themes/BonesTheme/library/images/contactFlowers.jpg');}


.menuHeader, .spacesHeader, .teamHeader, .expHeader, .galHeader {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	width: 100%;
	height: 570px;
    margin-top: -70px;
	div {
		height: auto;
		display: block;
		margin: 0 auto;
		width: 100%;
		padding-top: 250px;
		h6 {
			width: 250px;
			text-shadow: horizontal-offset vertical-offset blur color;
			text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
		}
	}
	
}

.galSlog {
	height: 370px !important;
	padding-top: 240px !important;
}

.photoCred {
	padding: 30px 0px 1px 0px !important;
    width: 90% !important;
    max-width: 580px;
    margin-top: 60px !important;
    text-align: center;
    background-color: white;
	h3 {line-height: 0px;}
		a {
		color: $slate;
		}
}

.galHeader {background-image: url('/wp-content/themes/BonesTheme/library/images/galBanner.jpg');}
.expHeader {background-image: url('/wp-content/themes/BonesTheme/library/images/experience.jpg');}
.menuHeader {background-image: url('/wp-content/themes/BonesTheme/library/images/foodBev.jpg');}
.spacesHeader {background-image: url('/wp-content/themes/BonesTheme/library/images/spaces.jpg');}
.teamHeader {background-image: url('/wp-content/themes/BonesTheme/library/images/staffpage.jpg');}

/*********************
HOME HEADER STYLES
*********************/
 
.homeHeader {background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	width: 100%;
	margin-top: -70px;
	height: 670px;
	}


.homeHeadContent { 
		width: 85%;
    	display: block;
    	margin: auto;
    	padding-top: 250px;
		img {
			width: 100%;
			max-width: 500px;
			min-width: 210px;
			display: block;
			margin: auto;}
		}

.mainCopy {
	    width: 95%;

    margin: auto;
    display: block;
	padding: 80px 0 80px 0;
    border-bottom: 1px solid $gold;
	p {max-width: 800px;
		text-align: center;
		width: 100%;
		display: block;
		margin: auto;
	}
}

.tourButton {
			width: auto;
			display: block;
			margin: auto;
			width: 165px;
			margin-top: 50px;
			padding: 1px;
			background-color: $darkPink;
			h4 {
				text-align: center;
				padding: 10px 0 10px 0;
				margin: 5px;
				border: 1px solid white;
				font-size: 1.1em;
    			color: white;
			}}


.tourButton:hover {background-color: $pink;}
	
/*********************
HOME VENUE STYLES
*********************/
.venueFeature {
	border-bottom: 1px solid $gold;
	.venuesHome {
		text-align: left;
		img {
			width: 100%;
			padding-bottom: 10px;
			}
		button {margin: 20px 0px 40px 0px;}
		}}

/*********************
HOME PLANNING STYLES
*********************/ 
.planningItem {
	img {
		width: 110px;
		margin: auto;
		display: block;}
	h3 {
		text-align: center;
		border-bottom: 1px solid $gold;
		padding: 20px 0 20px 0;
		width: 210px;
    	margin: auto;
	}
	p {
		text-align: center;
		padding: 0 25px 0 25px;
	}
}

/*********************
TESTIMONIAL STYLES
*********************/ 

.testimonials {
	background-color: $lightGold;
	width: 100%;
	.threeCol {
		img {
			width: 100px;
			display: block;
			margin: auto;
			}
		p {
			text-align: left;
			padding: 20px;
		}
		h3 {
			color: $slate;
			text-align: right;
		}
	}}


/*********************
HEADER STYLES
*********************/

h1 {
	font-family: 'Great Vibes', cursive;
	color: $slate;
	display: block;
	font-size: 3em;
	font-weight: 200;
	
}



h2 {
	font-family: 'Great Vibes', cursive;
	color: $slate;
	display: block;
	font-size: 2.4em;
	font-weight: 200;
	margin: 0px;
}

h3 {
	font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: $gold;
    font-weight: 400;
    font-size: 1.2em;
    margin: 0;	
}

h4 {
	font-family: 'Playfair Display', serif;
	font-weight: 200;		
}

h5 {
	font-family: 'Great Vibes', cursive;
	color: white;
	display: block;
	margin: 0 auto;
	font-size: 2.5em;
	font-weight: 200;
	text-align: center;
	display: block;
	margin: 0 auto;
	text-shadow: horizontal-offset vertical-offset blur color;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}
h6 {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	color: white;
	border-top: 2px solid white;
	font-weight: 200;	
	font-size: 1em;
	padding-top: 20px;
	text-align: center;
	display: block;
	margin: 0 auto;
}

h7 {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	font-weight: 200;
}



/*********************
CLEARFIX
*********************/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }


/*********************
FOOTER STYLES
*********************/
.MACfoot {
	width: 100%;
	background-color: $slate;
	color: white;
	text-align: left;
	padding: 20px 0px 20px 0px;
	img {
		width: 120px;
		margin: auto;
		display: block;
	}
	a {color: white; font-weight: bold;}
	.footerCol {
		width: 90%;
		max-width: 1200px;
		display: block;
		margin: 0 auto;
		padding: 50px 0 30px 0;
		.footerMap {
				width: 100%;
				height: 300px;
				margin-right: 40px;
				}
		.footerText {
				margin-top: 30px;
				width: 100%;
				display:flex;
				flex-wrap:wrap;
				}
		div {width: 49%;
			min-width: 170px;}}
	
	
}


/*********************
WEDDING TEAM
*********************/

.teamContent {
	width: 90%;
	max-width: 1200px;
	padding: 40px 5% 100px 5%;
	display: block;
	margin: 0 auto;
	.teamMember {
		width: 90%;
		display: block;
		text-align: center;
		vertical-align: text-top;
		padding-top: 30px;
		margin: auto;
		.teamL, .teamR, .teamC {width: 100%; display: inline-block; vertical-align: text-top; padding-top: 80px;
			p {border-top: 1px solid $gold; 
				padding-top: 20px;
				width: 180px;
				text-align: center;
				margin: auto; 
				display: block;}}
		img {width: 80%;position: inherit; top:0px; max-width: 300px;}
		
	}
	
}




/*********************
THE EXPERIENCE
*********************/
.experience {
	h2 {font-size: 1.9em;}
	p {padding-bottom: 50px;}
	
}
.threeCol {
	width: 90%;
	max-width: 1200px;
	display: block;
	margin: 0 auto;
	padding: 100px 0 100px 0;
	
	h1 {
		text-align: center;
		}
	
	.threecolDiv {
		width: 100%;
		margin: auto;
		display: block;
		div {
			width: 100%;
			display: inline-block;
			vertical-align:text-top;
		
				
		}
	}
}

.expGallery {
	width: 100%;
	background-color: $lightGold;
}

.expCopy {

		div {
			text-align: center;
			h2 {
				border: 1px solid $gold;
				width: 206px;
				padding: 15px;
				text-align: center;
				display: block;
				margin: auto;
				
			}
			p {text-align: center;
		padding:10px 20px 20px 20px;}
			img {
				width: 80px;
				display: block;
				margin: auto;
				padding-top: 30px;
	
			}
			h3 {
				border-bottom: 1px solid $gold;
				font-size: 1em;
				width: 180px;
				text-align: center;
				display: block;
				margin: auto;
				letter-spacing: 1px;
				padding: 30px 0px 30px 0px;
					}	
		}
	}



/*********************
FOOD & BEV
*********************/
.foodBev {
	width: 90%;
	max-width: 1200px;
	display: block;
	margin: 0 auto;
	padding-bottom: 100px;
	h1 {
		text-align: center;
		}
	p {text-align: center;
		padding:10px 20px 20px 20px;}
	.foodBevCopy {
		width: 100%;
		margin: auto;
		display: block;

	
		div {
			width: 100%;
			display: inline-block;
			text-align: center;
			vertical-align:text-top;
			padding-top: 40px;
			h2 {
				border: 1px solid $gold;
				width: 206px;
				padding: 15px;
				text-align: center;
				display: block;
				margin: auto;
				
			}
			img {
			width: 280px;
			display: block;
			margin: auto;
			padding: 30px;
			}
			p {padding: 40px;}
			h3 {
				border-bottom: 1px solid $gold;
				font-size: 1em;
				width: 180px;
				text-align: center;
				display: block;
				margin: auto;
				letter-spacing: 1px;
				padding: 30px 0px 30px 0px;
					}	
		}
	}
	.menuDownload {display: block; margin: 0 auto; margin-top: 100px;}
}

.foodBevCopy div:nth-child(1){
	border-bottom: 1px solid $gold;
}

/*********************
CONTACT
*********************/
.contactSection {
	width: 100%;
	padding: 15px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin: 0px;
	height: inherit;
	
}

.nf-form-fields-required {display: none !important;}

.nf-field-element input, .nf-field-element select, .nf-field-element textarea {
	padding: 10px !important;
	margin: 10px 0px !important;
}

.field-wrap input[type="submit"], .field-wrap input[type="button"], .field-wrap button {
	    width: 123px !important;
    margin: auto !important;
    display: block !important;
}
.nf-field-element textarea {
	height: 140px !important;
}
.contact {
	h1 {text-align:center;}
	div { width: 100%;
		display:block;
		margin: 0 auto;
	}}



.contactBox {
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	max-width: 900px;
}
		
.floatLeft {
	width: 90%;
	float:none;
    
		h4 {text-align: center;
			width: 180px;
			display: block; 
			margin: 0 auto;
			&:nth-child(1){
				border-bottom: 1px solid $gold;
				padding-bottom:10px;
				margin-bottom: 10px;}
			&:nth-child(2) {
				padding-top: 20px 0px 10px 0px;}}
	
		p{text-align: center;padding: 5%;}}
		
.floatRight {
	width: 90%;
	float: none;} 


button, html input[type="button"], input[type="reset"], input[type="submit"] {
	display: inline-block;
	color: white;
	background-color: $darkPink;
    padding: 6px 12px;
    margin: 0 auto;
	display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	opacity: 1;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select, textarea, .field {
	background-color: white;
	color: $slate;
	font-family: 'Raleway', sans-serif;
	border: 1px solid $gold;
	font-size: .9em;
	max-width: none !important;
		
}
a {text-decoration: none;}

button:hover {
	transition: opacity .25s ease-in-out;
	background-color: $pink;
}
.wpcf7 {
	width: 100%;
}



/*********************
SPACES
*********************/
.spaces {
	width: 100%;
	max-width: 1300px;
	padding: 5%;
	display: block;
	margin: 0 auto;
}



.venueInfo { 
	padding: 25px 0 25px 0;
	.venueImg {
		width: 100%;
		float: none;
		img { width:100%;
				padding: 0 3% 5% 3%;} }
	.venueCopy {

		float: none;
		width:100%;
		padding: 5% 3% 5% 3%;
		vertical-align:text-top;
		.bullets {padding-top: 20px;}
		
		.atmo  {
			width: 95%;
			float: none;
			padding: 0px;
		ul {
			border-right: none;}}
		.details {
			width: 95%;
			float: none;
			padding: 0px;}
		}}

	

.atmo h7, .details h7 {
	display: block; 
	margin: 0 auto;
	width: 180px;
	text-align: center;
	border-bottom: 1px solid $gold;
	padding-bottom: 15px;
}

/*********************
TABS
*********************/

ul.tab {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
	font-family: 'Playfair Display', serif;
	width: 363px;
}

/* Float the list items side by side */
ul.tab li {display: inline-block; 
	margin: 10px 0 10px 0;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: $slate;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
	width: 159px;
}

.tabOdd { 
border-right: 1px solid $gold;
text-align: right;
padding-right: 20px;

}

ul.tab li:nth-child(even) { 
padding-left: 20px;
text-align: left;

}
.lastTab {text-align: center; }

/* Change background color of links on hover */
ul.tab li a:hover {color: $lightslate;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {color: $lightslate;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 50px 0 0 0 ;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}





.main-gallery {
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  border-top: solid 10px #7AA641;

}

.gallery-cell {
  width: 100%;
}

.testimonial {
  text-align: center;
  max-width: 850px;
  margin: 100px auto 130px auto;
  padding: 0 20px;
}

.testimonial-avatar {
  width: 100px;
  border-radius: 50%;
}

.testimonial-quote {
  display: block;
  font-size: 24px;
  font-weight: 300;
  padding: 10px 0;
}

.testimonial-author {
  display: block;
  font-weight: 800;
  color: #7AA641;
}

.flickity-page-dots {
  bottom: 25px;
}

.flickity-page-dots .dot.is-selected {
  background: #7AA641;
}

/*********************
MOBILE NAV
*********************/

.bookTour {
	background-color: #cba19b;
    color: white;
    height: 73px;
	padding: 10px 0 10px 0;
	h4 {
				text-align: center;
				padding: 0 13px 0px 13px;
    			margin: 1px 13px 0px 13px;
				border: 1px solid white;
				font-size: 1.1em;
    			color: white;
			}
}


.fa {
	font-size: .8em;
    padding: 2px 3px 10px 0px;
    vertical-align: text-top;
}

.mobile {display: block;}
.mobileLogo {
	position:absolute;
	top: 27px;
    left: 0;
	padding: 18px;
    width: 320px;
	z-index: 999;
}

nav.mobile
{
    width: 100%;
    height: 70px;
    right:0;
    left:0;
    color: black;
    padding: 0;
    background-color: white;

	opacity: .8;
    text-align: center;

    overflow:hidden;
        -webkit-transition: height 0.3s ease, background-color 0.3s ease;
    -moz-transition: height 0.3s ease, background-color 0.3s ease;
    -o-transition: height 0.3s ease, background-color 0.3s ease;
    transition: height 0.3s ease, background-color 0.3s ease;
}

nav.mobile .nav-content 
{
    list-style-type: none;
    margin-top:90px;
    padding: 0;
    text-align: center;
    line-height: 50px;
    color: transparent;
	display: block;	
	font-family: 'Playfair Display', serif;
	font-size: 1.1em;
     
/*    background-color: #222;*/
}
nav.mobile.active .nav-content
{
    color: white;
    
}
nav.mobile.active
{
	transition: opacity .25s ease;
	opacity: 1;
	position: relative;
    height: 363px;
    display: block;
    background-color: white;
 	text-decoration: none;
}
nav.mobile.scrolled
{
    position: fixed;
    background-color: rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}
nav.mobile #nav-trigger
{
    display: block;
}
nav.mobile .mobile-logo
{
    display: block;
}

nav.mobile #logo.new-logo
{
    display: none;
}

nav.mobile li a 
{
       
    color: transparent;
    font-weight: 100;
    text-align: center;
        	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	        transition: all 0.3s ease;
    
}
nav.mobile.active li a
{
    color: $slate;
	text-decoration: none;
}
nav.mobile li a:hover 
{
     color: $lightslate;
}
nav.mobile .sub-menu
{
   display: none;
}
nav.mobile #link-logo, nav.mobile #link-logo
{
    display: none;
}


nav.mobile .sub-menu li
{
/*    padding-top: 15px;*/
    display: block;
    padding-top:0px;
}
nav.mobile .sub-menu a
{
    padding-top: 15px;
}
nav.mobile .parent-link.active
{
    color: #ccc;
}
#nav-trigger
{
    float: right;
    border: none;
/*    padding: 7px;*/
    font-size: 30px;
    text-transform: uppercase;
    font-weight: lighter;
    margin-right: 11px;
    margin-top: 14px;
    color: black;
}
#logo-small
{

    float: left;
    height: 40px;
    width:130px;
     z-index: 3;
    position: relative;
    background-size: contain;
    color:black;
  font-size:20px;
    margin-left: 11px;
    margin-top: 20px;
    
}
#nav-trigger
{
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#nav-trigger.active
{
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
}


/*********************
TESTIMONIALS FLICKITY
*********************/
* {
  box-sizing: border-box;
}

.main-gallery {
  background: $lightGold;
	border-top: none !important;
	box-shadow: none !important;
}

.gallery-cell {
  width: 100%;
}

.testimonial {
  text-align: center;
  max-width: 850px;
  margin: 100px auto 130px auto;
  padding: 0 20px;
}

.testimonial-avatar {
  width: 100px;
  border-radius: 50%;
}

.testimonial-quote {
  display: block;
  font-size: 1.2em;
  font-weight: 300;
  padding: 10px 0;
}

.testimonial-author {
  display: block;
  font-weight: 800;
  color: $gold;
}

.flickity-page-dots {
  bottom: 25px !important;
}

.flickity-page-dots .dot.is-selected {
  background: $darkPink;
}



/************************************************************************************
*************************************************************************************

							      GALLERY PAGE

************************************************************************************
************************************************************************************/




$gallery-width: 100%;
$transition-duration: 0.5s;

.galleryWrap {
	position:relative;
    width:100%;
    height: 5000px;
    overflow:scroll;
}

.m-p-g {
	max-width: $gallery-width;
	position:absolute;
    width:100%;
    height:100%;
	
	&__thumbs {
		
		&-img {
			margin: 0;
			float: left;
			vertical-align: bottom;
			cursor: pointer;
			z-index: 1;
			position: relative;
			opacity: 0;
			filter: brightness(100%);
			-webkit-tap-highlight-color: rgba(black, 0);
			will-change: opacity, transform;
			transition: all $transition-duration cubic-bezier(0.23, 1, 0.32, 1);
			
			&.active {
				z-index: 50;
			}
			
			&.layout-completed {
				opacity: 1;
			}

			&.hide {
				opacity: 0;
			}
			
			&:hover {
				filter: brightness(110%);
			}
		}
	}
	
	&__fullscreen {
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100vh;
		z-index: 805;
		background: rgba(black, 0);
		visibility: hidden;
		transition:
			background .25s ease-out,
			visibility .01s $transition-duration linear;
		will-change: background, visibility;
		backface-visibility: hidden;

		&.active {
			transition:
				background .25s ease-out,
				visibility .01s 0s linear;
			visibility: visible;
			background: rgba(black, 0.95);
		}

		&-img {
			pointer-events: none;
			position: absolute;
			transform-origin: left top;
			top: 50%;
			left: 50%;
			max-height: 100vh;
			max-width: 100%;
			visibility: hidden;
			will-change: visibility;
			transition: opacity $transition-duration ease-out;

			&.active {
				visibility: visible;
				opacity: 1 !important;
				transition:
					transform $transition-duration cubic-bezier(0.23, 1, 0.32, 1),
					opacity $transition-duration ease-out;
			}

			&.almost-active {
				opacity: 0;
				transform: translate3d(0,0,0) !important;
			}
		}
	}
	
	&__controls {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 810;
		height: 20vh;
		background: linear-gradient(to top, transparent 0%, rgba(black, 0.55) 100%);
		opacity: 0;
		visibility: hidden;
		transition: all $transition-duration cubic-bezier(0.23, 1, 0.32, 1);
		
		&.active {
			opacity: 1;
			visibility: visible;
		}
		
		&-close,
		&-arrow {
			appearance: none;
			border: none;
			background: none !important;

			&:focus {
				outline: none;
			}
		}

		&-arrow {
			position: absolute;
			z-index: 1;
			top: 0;
			width: 20%;
			height: 100vh;
			display: flex;
			align-items: center;
			cursor: pointer;
			-webkit-tap-highlight-color: rgba(black, 0);
			opacity: 0;
			
			&:hover {
				opacity: 1;
			}
			
			&--prev {
				left: 0;
				padding-left: 3vw;
				justify-content: flex-start;
			}
			
			&--next {
				right: 0;
				padding-right: 3vw;
				justify-content: flex-end;
			}
		}
		
		&-close {
			position: absolute;
			top: 3vh;
			left: 3vw;
			z-index: 5;
			cursor: pointer;
			-webkit-tap-highlight-color: rgba(black, 0);
		}
	}

	&__btn {
		$size: 50px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: $size;
		height: $size;
		border-radius: 50%;
		background: rgba(white, 0.07) !important;
		transition: all .25s ease-out;

		&:hover {
			background: rgba(white, 0.15);
		}
	}

	&__alertBox {
		display: none !important;
		position: fixed;
		z-index: 999;
		max-width: 700px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: white;
		padding: 25px;
		border-radius: 3px;
		text-align: center;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
		color: grey;

		h2 {
			color: red;
		}
	
	}
}




	
/*********************
    404
*********************/


.mWrap  {
	background-color: $lightGold;
#missing {
	
	display: block;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
	text-align: center;
	min-height: 700px;
	width: 80%;
	max-width: 404px;
	padding-top: 10%;
	h2 {
		text-align: center;
		margin: 0px auto;;
		font-size: 45px;
		width: 100%;

	}


	svg {
		width: 100px;
		margin: auto;
		.error {fill: $gold;}

	}

	}}


