/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 65, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*********************
CONTACT SECTION
*********************/
/* line 28, ../scss/breakpoints/_481up.scss */
.contactSection {
  padding: 50px;
}

/* line 30, ../scss/breakpoints/_481up.scss */
.contactBox {
  padding: 50px;
}

/*********************
FONT
*********************/
/* line 37, ../scss/breakpoints/_481up.scss */
h5 {
  font-size: 4em;
}

/* line 42, ../scss/breakpoints/_481up.scss */
h6 {
  font-size: 1.5em;
}

/* line 49, ../scss/breakpoints/_481up.scss */
.menuHeader div {
  top: 120px;
}

/*********************
TABS
*********************/
/* line 56, ../scss/breakpoints/_481up.scss */
.atmo {
  width: 49%;
  float: left;
  padding: 20px 0px 20px 0px;
}
/* line 60, ../scss/breakpoints/_481up.scss */
.atmo ul {
  border-right: 1px solid #CEB492;
  padding: 0 20px 0 0;
  display: block;
}

/* line 64, ../scss/breakpoints/_481up.scss */
.details {
  width: 49%;
  float: right;
  padding: 20px 0px 20px 20px;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
TEAM
*********************/
/* line 25, ../scss/breakpoints/_768up.scss */
.teamL, .teamR, .teamC {
  width: 49% !important;
  display: inline-block;
  vertical-align: text-top;
  padding-top: 80px;
  margin: auto;
}

/* line 26, ../scss/breakpoints/_768up.scss */
.teamL div {
  border-right: 1px solid #CEB492;
}

/*********************
SPACES
*********************/
/* line 36, ../scss/breakpoints/_768up.scss */
.venueInfo .venueImg {
  width: 35%;
  float: left;
}
/* line 39, ../scss/breakpoints/_768up.scss */
.venueInfo .venueImg img {
  width: 100%;
  padding-bottom: 30px;
}
/* line 40, ../scss/breakpoints/_768up.scss */
.venueInfo .venueCopy {
  width: 65%;
  float: right;
  padding: 30px;
  vertical-align: text-top;
}
/* line 45, ../scss/breakpoints/_768up.scss */
.venueInfo .venueCopy .bullets {
  padding-top: 20px;
}
/* line 46, ../scss/breakpoints/_768up.scss */
.venueInfo .venueCopy .atmo {
  width: 49%;
  float: left;
  padding: 20px 0px 20px 0px;
}
/* line 50, ../scss/breakpoints/_768up.scss */
.venueInfo .venueCopy .atmo ul {
  border-right: 1px solid #CEB492;
  padding: 0 20px 0 0;
  display: block;
}
/* line 54, ../scss/breakpoints/_768up.scss */
.venueInfo .venueCopy .details {
  width: 49%;
  float: right;
  padding: 20px 0px 20px 20px;
}

/* line 65, ../scss/breakpoints/_768up.scss */
.atmo h7, .details h7 {
  display: block;
  margin: 0 auto;
  width: 180px;
  text-align: center;
}

/*********************
TABS
*********************/
@media screen and (min-width: 1115px) {
  /* line 79, ../scss/breakpoints/_768up.scss */
  .tabGroup {
    text-align: center;
    border-bottom: 1px solid #CEB492;
  }

  /* line 84, ../scss/breakpoints/_768up.scss */
  ul.tab {
    display: inline-block;
    width: auto;
  }

  /* line 89, ../scss/breakpoints/_768up.scss */
  ul.tab li {
    padding: 0 20px 0 20px;
  }

  /* line 93, ../scss/breakpoints/_768up.scss */
  ul.tab li:nth-child(odd) {
    border-right: none;
  }

  /* line 98, ../scss/breakpoints/_768up.scss */
  ul.tab li a {
    width: auto;
  }
}
/*********************
EXPERIENCE
*********************/
@media screen and (min-width: 910px) {
  /* line 116, ../scss/breakpoints/_768up.scss */
  .threeCol .threecolDiv div {
    width: 33%;
    display: inline-block;
    vertical-align: text-top;
  }

  /* line 124, ../scss/breakpoints/_768up.scss */
  .threecoldDiv div:nth-child(2) {
    margin: 0 30px 0 30px;
  }

  /* line 126, ../scss/breakpoints/_768up.scss */
  .expCopy div:nth-child(2), .planningDiv div:nth-child(2) {
    border-left: 1px solid #CEB492;
    border-right: 1px solid #CEB492;
    height: 480px;
  }

  /*********************
  FOOTER STYLES
  *********************/
  /* line 141, ../scss/breakpoints/_768up.scss */
  .MACfoot .footerCol {
    display: flex;
    margin: 0 auto;
  }
  /* line 146, ../scss/breakpoints/_768up.scss */
  .MACfoot .footerCol .footerMap {
    width: 50%;
    height: 300px;
    margin-right: 40px;
  }
  /* line 151, ../scss/breakpoints/_768up.scss */
  .MACfoot .footerCol .footerText {
    width: 50%;
  }
}
/*********************
FOOD & BEV
*********************/
/* line 166, ../scss/breakpoints/_768up.scss */
.foodBev .foodBevCopy div {
  width: 49%;
  display: inline-block;
  text-align: center;
  vertical-align: text-top;
}
/* line 171, ../scss/breakpoints/_768up.scss */
.foodBev .foodBevCopy div .borderp {
  border-right: 1px solid #CEB492;
}

/* line 177, ../scss/breakpoints/_768up.scss */
.foodBevCopy div:nth-child(1) {
  border-bottom: none;
}

/*********************
CONTACT
*********************/
/* line 187, ../scss/breakpoints/_768up.scss */
.contact .floatLeft {
  width: 50%;
  float: left;
}
/* line 190, ../scss/breakpoints/_768up.scss */
.contact .floatLeft p {
  text-align: center;
}
/* line 192, ../scss/breakpoints/_768up.scss */
.contact .floatRight {
  width: 50%;
  float: right;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/* line 12, ../scss/breakpoints/_1030up.scss */
.wrap {
  width: 1040px;
}

/*********************
TEAM
*********************/
/* line 22, ../scss/breakpoints/_1030up.scss */
.teamL, .teamR, .teamC {
  width: 32% !important;
  display: inline-block;
  vertical-align: text-top;
  padding-top: 80px;
  margin: auto;
}

/* line 23, ../scss/breakpoints/_1030up.scss */
.teamR div {
  border-right: 1px solid #CEB492;
  border-left: 1ps solid #CEB492;
}

/*********************
MENU
*********************/
/* line 30, ../scss/breakpoints/_1030up.scss */
.mobile {
  display: none;
}

/* line 34, ../scss/breakpoints/_1030up.scss */
.bookTour {
  background-color: #cba19b;
  color: white;
  margin-top: -18px;
  height: 70px;
}
/* line 39, ../scss/breakpoints/_1030up.scss */
.bookTour h4 {
  text-align: center;
  padding: 10px 13px 10px 13px;
  margin: 6px -5px 0px 11px;
  border: 1px solid white;
  font-size: 1.1em;
  color: white;
}

/* line 48, ../scss/breakpoints/_1030up.scss */
.bookTour:hover {
  background-color: #CEAAA3;
}

/* line 50, ../scss/breakpoints/_1030up.scss */
.KTheader {
  display: block;
  width: 100%;
  height: 70px;
  background-color: white;
  opacity: .8;
  top: 0;
}
/* line 57, ../scss/breakpoints/_1030up.scss */
.KTheader img {
  position: absolute;
  top: 27px;
  left: 0;
  padding: 18px;
  width: 320px;
  z-index: 999;
}
/* line 65, ../scss/breakpoints/_1030up.scss */
.KTheader .menu {
  text-align: center;
  float: right;
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
}
/* line 72, ../scss/breakpoints/_1030up.scss */
.KTheader .menu li {
  display: inline-block;
  padding: 4px 15px 0px 0px;
  font-size: .9em;
}
/* line 77, ../scss/breakpoints/_1030up.scss */
.KTheader .menu li a {
  color: #3F3F3F;
  text-decoration: none;
  list-style-type: none;
}

/* line 85, ../scss/breakpoints/_1030up.scss */
.menu li a:hover {
  color: #B7B6B6;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
